body {
  font-family: Arial;
  background: #f7f7f7;
  padding: 20px;
}

button {
  padding: 15px;
  font-size: 16px;
  width: 100%;
  border: none;
  background: #ff7a00;
  color: white;
  border-radius: 10px;
}
